body{
  background-color: rgb(47, 0, 255);
  overflow-x: hidden;
}
.profile{
  display: flex;
  justify-content: space-around;
  align-items: start;
  height: 100vh;
}
header{
  background-color: rgb(255, 0, 0);
  color: white;
  padding: 10px;
  text-align: center;
  min-width: 100%;
  min-height: 200px;

}
header h1{
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;

}
header h1:hover{
  color: rgb(0, 0, 0);
  font-size: 1.5em;
  cursor: pointer;
  letter-spacing: 2px;
  transform:  skew(10deg, 10deg) rotate(10deg);
  transition: all 0.5s;
}